

@import "~font-awesome/css/font-awesome.min.css";

  
  
  .text-wrapper {
    -webkit-text-stroke: 1px #000000;
    color: #1f0202;
    font-family: "Inter", Helvetica;
    font-size: 50px;
    font-weight: 800;
    left: 478px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 55px;
    white-space: nowrap;
    width: 481px;
  }


  .search-bar {
    
    align-items: center;
    position: fixed;
    right:600px;
    
    
  }
  .bookCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.bookCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.cardMain{
  display:flex;
  gap: 16px;
}
.cardContent {
  
    padding: 16px;
}

h2 {
    margin-top: 0;
}
  input1[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
  }
  
  button {
    background-color: black;
    border: none;
    cursor: pointer;
  }
  
  .search-icon {
    font-size: 1.2rem;
    color: #555;
  }
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dropdown-button {
    position: fixed;
    padding: 10px 20px;
    background-color: #ea8a0d;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    right:100px;
    top:20px;
    
    
  }
  
  .dropdown-button.hovered {
    background-color: #0a0a0a;
  }
  
  .dropdown-menu {
    position: absolute;
    border-radius: 15px;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-button.hovered .dropdown-menu {
    display: flex;
  }
  
  button {
    border: none;
    background: none;
    padding: 10px 20px;
    color: #333;
    text-align: left;
    cursor: pointer;
    border-radius: 15px;
  }
  
  button:hover {
    background-color: #f2f2f2;
    border-radius: 15px;
  }
  .sell-books{
    position: fixed;
    right: 250px;
    top:20px;
    background-color: #ea8a0d;
  }
  
  
  /* Add any additional styles you want */
  
  