
*{
  margin: 0;
  padding: 0;
}.signinbackground{
  margin: 0;
  padding: 0;
  
  background-image:url("https://i.pinimg.com/originals/eb/ab/3d/ebab3d15dc0b7fdd49889e9d00909e36.png");  
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;

  background-position: center; /* This will center the background image */
  background-repeat: no-repeat;
  
  
  background-repeat: no-repeat;  
  
}
.signinlabel{
  color:aliceblue;
}
.login-container {
    width: 400px;
    margin-top: 80px;
    margin-left: 40px;
    height: 300px;
    padding: 40px;
    border: 1px solid #070505;
    border-radius: 10px;
    text-align: center;
    border-width: 5px;
    border-color: #b07c0a;
    border-radius: 20px;
  }
  
  .input-container {
    margin-bottom: 10px;
    text-align: left;
    border-radius: 20px;
    padding: 10px;
    width: 270px;
  }
  .input-container-email {
    margin-bottom: 10px;
    text-align: left;
    border-radius: 20px;
    padding: 10px;
    width:270px
  }
  
   
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  
 
  
  .signin-button {
    padding: 10px 20px;
    background-color: #b07c0a;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  